{% extends 'main/base.html' %}
 {% block content %}
  {% load static %}

<login>
	<div class="center__login">
		<img  src="{% static 'src/images/APIU_logo.png' %}" alt="" class="center-img">
		<h1 id="form-title">ВХОД</h1>
		<form method="POST" action="">
			{% csrf_token %}
		  <div class="inputbox__login">
			<input class="input_login" type="text" name="username" placeholder="Введите логин" >
			<span>Email</span>
		  </div>
		  <div class="inputbox__login">
			<input class="input_login" type="password" name="password" placeholder="Введите пароль">
			<span>Password</span>
		  </div>
		  <div class="button__login">
			<button class="btn__login">Войти</button>
		  </div>
		</form>
	  </div>
</login>

{%endblock%}

