{% extends 'main/base.html' %} {% block content %} {% load static %}
{% load i18n %}

<main3>
  <div class="container">
    <div>
        <div id="Slider">
            {%for photo in photos%}
              <img src="{{ photo.img1.url }}">
              <img src="{{ photo.img2.url }}">
              <img src="{{ photo.img3.url }}">
              <img src="{{ photo.img4.url }}">
              <img src="{{ photo.img5.url }}">
            {%endfor%}
        </div>
    </div>
  </div>
</main3>

<fon>
  <div class="container">

    <h1>Новости</h1>


      <a href="{% url 'news_home' %}"><div id="load-more">{% trans 'Подробнее' %}</div></a>
   </div>
</fon>

<main1>

<div class="container">
  <h1>Видео</h1>
     <ul class="stolb">
       {% for videos in video  %}
            <li>
              <iframe width="560" height="315" src="{{ videos.url}}" frameborder="0"
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></h5></iframe>
              </li>
            {% endfor %}
        </ul>
</div> 
</div>
</main1>

<main2>
  <h1 class="text-center">Наши партнеры</h1>
  <div class="container-box">
    <div class="box">
      <a href="https://agro.gov.kg/ru/main/"><img src="{% static './src/images/msh2-2.png' %}" alt="img" /></a>
      <p class="title">
        МИНИСТЕРСТВО СЕЛЬСКОГО ХОЗЯЙСТВА КЫРГЫЗСКОЙ РЕСПУБЛИКИ
       </p>
    </div>
  <div class="box">
   <a href="https://www.aris.kg/index.php?option=com_content&view=category&layout=blog&id=8&Itemid=160&lang=ru"> <img src="{% static './src/images/arislogo.png' %}" alt="img" ></a>
   <p class="title">
    Агентство развития и инвестирования сообществ Кыргызской Республики
   </p> 
  </div>
  <div class="box">
    <a href="https://www.ifad.org/en/"><img src="{% static './src/images/ifad.png' %}" alt="img" /><a/>
      <p class="title">
        International Fund for Agricultural Development
       </p> 
  </div>
  <div class="box">
    <a href="https://www.vsemirnyjbank.org/ru/home"><img src="{% static './src/images/wb.png' %}" alt="img" /></a>
    <p class="title">
      THE WORLD BANK
     </p>
  </div>
  <div class="box">
    <a href="https://www.un.org/ru/"><img src="{% static './src/images/un-logo-big.png' %}" alt="img" /></a>
    <p class="title">
      UNITED NATIONS
     </p>
  </div>
  
 </div>
</main2>



{%endblock%}
