{% extends 'main/base.html' %} {% block content %} {% load static %}
{% load i18n %}

<main3>
  <div class="container">
    <div>
        <div id="Slider">
            {%for photo in photos%}
              <img src="{{ photo.img1.url }}">
              <img src="{{ photo.img2.url }}">
              <img src="{{ photo.img3.url }}">
              <img src="{{ photo.img4.url }}">
              <img src="{{ photo.img5.url }}">
            {%endfor%}
        </div>
    </div>
  </div>
</main3>

<fon class='fon'>
  <div class="container">
    <h1>Новости</h1>
    <div class="slide-container swiper">
      <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
                    {% for el in news %}
                    <div class="card swiper-slide">
                      <div class="image-content">
                        <span class="overlay"></span>

                        <div class="card-image">
                          <img src="{{ el.img.url }}" alt="News" class="card-img">
                        </div>
                      </div>

                      <div class="card-content">
                        <h2 class="name">{{ el.title|truncatechars:10}}</h2>
                        <p class="description">{{ el.full_text|truncatechars:45 }}</p>
                        <a href="{% url 'news_detail' el.id %}" class="news__block-link"><button class="button">Подробнее</button></a>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
              </div>


{% comment %} 
    {% for el in news %}
    <div class="news__content">
      <div class="news__block">
          <div class="news__block-image">
              <img src="{{ el.img.url }}" alt="News">
          </div>
          <div class="news__block-text">
              <div class="news__block-title">{{ el.title}}</div>
              <p class="news__block-desc">{{ el.full_text|truncatechars:100 }}</p>
              <div class="news__block-bottom">
                  <div class="news__block-date">
                      <img class="news__block-icon" src="{% static './src/images/icons/date.svg' %}" alt="Date">
                      <p class="news__block-date-number">{{el.date}}</p>
                  </div>
                  <a href="{% url 'news_detail' el.id %}" class="news__block-link">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} {% endcomment %}

      <a href="{% url 'news_home' %}"><div id="load-more">{% trans 'Подробнее' %}</div></a>
   </div>
</fon>

<main1>

<div class="container">
  <h1>Видео</h1>
     <ul class="stolb">
       {% for videos in video  %}
            <li>
              <iframe width="560" height="315" src="{{ videos.url}}" frameborder="0"
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></h5></iframe>
              </li>
            {% endfor %}
        </ul>
</div> 
</div>
</main1>

<main2>
  <h1 class="text-center">Наши партнеры</h1>
  <div class="container-box">
    <div class="box">
      <a href="https://agro.gov.kg/ru/main/"><img src="{% static './src/images/msh2-2.png' %}" alt="img" /></a>
      <p class="title">
        МИНИСТЕРСТВО СЕЛЬСКОГО ХОЗЯЙСТВА КЫРГЫЗСКОЙ РЕСПУБЛИКИ
       </p>
    </div>
  <div class="box">
   <a href="https://www.aris.kg/index.php?option=com_content&view=category&layout=blog&id=8&Itemid=160&lang=ru"> <img src="{% static './src/images/arislogo.png' %}" alt="img" ></a>
   <p class="title">
    Агентство развития и инвестирования сообществ Кыргызской Республики
   </p> 
  </div>
  <div class="box">
    <a href="https://www.ifad.org/en/"><img src="{% static './src/images/ifad.png' %}" alt="img" /><a/>
      <p class="title">
        International Fund for Agricultural Development
       </p> 
  </div>
  <div class="box">
    <a href="https://www.vsemirnyjbank.org/ru/home"><img src="{% static './src/images/wb.png' %}" alt="img" /></a>
    <p class="title">
      THE WORLD BANK
     </p>
  </div>
  <div class="box">
    <a href="https://www.un.org/ru/"><img src="{% static './src/images/un-logo-big.png' %}" alt="img" /></a>
    <p class="title">
      UNITED NATIONS
     </p>
  </div>
  
 </div>
</main2>



{%endblock%}
