{% extends 'main/base.html' %} {% block content %} {% load static %}

<div class="container">
    <div class="container__staff">
    <h4> Данные сотрудников</h4>
    <h5>Отдел Реализации Сельскохозяйственных Проектов </h5>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Ф.И.О</th>
			<th>Должность</th>
			<th>Телефон</th>
			<th>Эл. почта</th>
            <th>Кабинет</th>
			
		</tr>
	</thead>
	<tbody>
        {% for staf in staff %}
		<tr>
			<td>{{ staf.title }}</td>
			<td>{{ staf.position }}</td>
			<td>{{ staf.phone }}</td>
			<td>{{ staf.email }}</td>
            <td>{{ staf.kab }}</td>
			
		</tr>
		{%endfor%}
	</tbody>
</table>

</div>


{%endblock%}