
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main3 {
    display: flex;
    padding: 0 35px;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: #343F4F;
}

.wrapper {
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 45px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-30%);
}

.wrapper i:first-child{
    left: -23px;
}

.wrapper i:last-child{
    right: -23px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.carousel img {
    height: 300px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(90% / 3);
}

.carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(90% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img{
        width: 100%;
    }
}