{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/main1.css' %}" />
    <link rel="stylesheet" href="{% static '/css/project.css' %}" />      
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}" />      
    <link rel="stylesheet" href="{% static '/css/news.css' %}" />      
    <link rel="stylesheet" href="{% static '/css/main4.css' %}" />      
    <link rel="stylesheet" href="{% static '/css/disain.css' %}" />      
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    {% comment %} <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">  {% endcomment %}




<title>Главная сраница</title>
  </head>
  
  <body>
    

    <header>

      <a href="/" class="logo"><img
        src="{% static '/img/APIU_logo.png' %}"
        alt="Logo"
        width="70"
      /></a>
      <input type="checkbox" id="menu-bar">
      <label for="menu-bar">Menu</label>
      <nav class="navbar">
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="#">Проекты +</a>
            <ul>
              <li><a href="#">ПОДР +</a>
                <ul>
                  <li><a href="{% url 'disain' %}">Дизайн проекта</a></li>
                  <li><a href="{% url 'study' %}">Исследование</a></li>
                  <li><a href="{% url 'report' %}">Отчёты</a></li>
                </ul>
              </li>  
                </ul>
              </li>      
          <li><a href="{% url 'news_home' %}">Новости</a></li>
          <li><a href="{% url 'about' %}">О Нас</a></li>
          <li><a href="">Онлайн +</a>
          <ul>
            <li><a href="{% url 'online' %}">Вопрос</a></li>
            <li><a href="{% url 'create' %}">Ответ</a></li>
          </ul>
          </li>
        </ul>
      </nav>
    </header>
    </div>




    {% block content %} {% endblock %}
   




    {% comment %} <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script> {% endcomment %}
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static './js/main.js' %}"  defer></script>
    <script src="{% static 'js/main1.js' %}"  defer></script>
    <script src="{% static 'js/news.js' %}"  defer></script>
    <script src="{% static 'js/main4.js' %}"  defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>


    
  </body>
</html>
