{% extends 'main/base.html' %} {% block content %} {% load static %}

<img src="{% static 'img/logo.png' %}" class="p-auto"  width="100%"  alt="img-logo">


<main3>
  <div class="slide-conatiner">
    <span class="slider-span" id="slider-span1"></span>
    <span class="slider-span" id="slider-span2"></span>
    <span class="slider-span" id="slider-span3"></span>
    <span class="slider-span" id="slider-span4"></span>
    <span class="slider-span" id="slider-span5"></span>
    <span class="slider-span" id="slider-span6"></span>
    <span class="slider-span" id="slider-span7"></span>

    <div class="image-slider">
      {% for pp in photo %}
      <div class="slides-div" id="slide-1">
        <img src="{{ pp.img1.url }}" alt="" class="img" id="img1">
        <a href="#slider-span1" class="button" id="button-1"></a>
      </div>
      <div class="slides-div" id="slide-2"> 
        <img src="{{ pp.img2.url }}" alt="" class="img" id="img2">
        <a href="#slider-span2" class="button" id="button-2"></a>
      </div>
      <div class="slides-div" id="slide-3">
        <img src="{{ pp.img3.url }}" alt="" class="img" id="img3">
        <a href="#slider-span3" class="button" id="button-3"></a>
      </div>
      <div class="slides-div" id="slide-4">
        <img src="{{ pp.img4.url }}" alt="" class="img" id="img4">
        <a href="#slider-span4" class="button" id="button-4"></a>
      </div>
      <div class="slides-div" id="slide-5">
        <img src="{{ pp.img5.url }}" alt="" class="img" id="img5">
        <a href="#slider-span5" class="button" id="button-5"></a>
      </div>
      <div class="slides-div" id="slide-6">
        <img src="{{ pp.img6.url }}" alt="" class="img" id="img6">
        <a href="#slider-span6" class="button" id="button-6"></a>
      </div>
      <div class="slides-div" id="slide-7">
        <img src="{{ pp.img7.url }}" alt="" class="img" id="img7">
        <a href="#slider-span7" class="button" id="button-7"></a>
      </div>
    </div>
    {%endfor%}
</div>
</div>
</main3>

<main4>

<section>


</section>

</main4>


<main1>

  <div class="container__vi">
    <h1>Видео галерея</h>
      {% for vi in informations %}     
      <div class="video-container">
        <div class="video"><video src="{{vi.video.url}}" muted></video></div>
        
      </div>
      <div class="popup-video">
        <span>&times;</span>
        <video src="{{vi.video.url}}" muted autoplay controls></video>
        
  </div>
  {%endfor%}
</div>
</main1>

<main2>
  <div class="container-box">
    <h1 class="text-center">Полезные ссылки</h1>
  <div class="box">
   <a href="https://www.aris.kg/index.php?option=com_content&view=category&layout=blog&id=8&Itemid=160&lang=ru"> <img src="{% static 'img/arislogo.png' %}" alt="img" ></a>
   <p class="title">
    Агентство развития и инвестирования сообществ Кыргызской Республики
   </p> 
  </div>
  <div class="box">
    <a href="https://www.ifad.org/en/"><img src="{% static 'img/ifad.png' %}" alt="img" /><a/>
      <p class="title">
        International Fund for Agricultural Development
       </p> 
  </div>
  <div class="box">
    <a href="https://www.vsemirnyjbank.org/ru/home"><img src="{% static 'img/wb.png' %}" alt="img" /></a>
    <p class="title">
      THE WORLD BANK
     </p>
  </div>
  <div class="box">
    <a href="https://www.un.org/ru/"><img src="{% static 'img/un-logo-big.png' %}" alt="img" /></a>
    <p class="title">
      UNITED NATIONS
     </p>
  </div>
  <div class="box">
    <a href="https://agro.gov.kg/ru/main/"><img src="{% static 'img/msh2-2.png' %}" alt="img" /></a>
    <p class="title">
      МИНИСТЕРСТВО СЕЛЬСКОГО ХОЗЯЙСТВА КЫРГЫЗСКОЙ РЕСПУБЛИКИ
     </p>
  </div>
 </div>
</main2>
{%endblock%}
