{% extends 'main/base.html' %}



{% block content %}
    <div class="features">
        <h1>Онлайн вопросы</h1>
        <div class="features__row">
        {% if task%}
            {% for on in task%}
            <div class="alert alert-warning mt-2">
            <h2> {{ on.title }} </h2>
            <p> {{ on.text | truncatewords:10 }} </p>
            <p> Имя: {{ on.first_name }} {{ on.last_name }} </p>
            <p> Дата: {{ on.date }} </p>
            </div>
    
            {%endfor%}
        {% else %}
            <p> У нас нет записи </p>

        {%endif%}
        </div>
    </div>

{%endblock%} 