{% extends 'main/base.html' %}
{% block content %}
{% load static %}
 {% load i18n %}


 <main7>
           




    <div class="container__video__gallery">
      <h1 class="video__gallery__h1">Видео Галерия</h1>
      <div class="video">
      <div class="video__gallery">
          <img src="http://127.0.0.1:8000/media/img/esa_Mbjo7JN.jpg" alt="" class="iframe__video">
      </div>
      <div class="video__gallery">
          <img src="http://127.0.0.1:8000/media/img/esa_Mbjo7JN.jpg" alt="" class="iframe__video">
      </div>
      <div class="video__gallery">
          <img src="http://127.0.0.1:8000/media/img/esa_Mbjo7JN.jpg" alt="" class="iframe__video">
      </div>
  </div>
    </div>
   
  </main7>









 {%endblock%}