{% load static %}{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static './src/css/cloude.css' %}" />    
 

    <title>{% block title %}Default Title{% endblock %}</title>
</head>

<nav>
    <div class="navicon">
      <div>
        
      </div>
    </div>
  
    <a href="{% url 'create_folder' %}">Создать папку</a>
    <a href="{% url 'upload_file' %}">Загрузить файл</a>
    <a href="{% url 'folder_list' %}">Список папок</a>
    
  </nav>
        

    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        Copyright 2023
    </footer>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>   
    <script src="{% static './src/js/cloude.js' %}"  defer></script>
</body>
</html>