body {
    background-image: url(https://krot.info/uploads/posts/2021-11/1637027546_1-krot-info-p-gori-kirgizii-gori-krasivo-foto-1.jpg);


}
.toolbar {
    display: flex;
    align-items: center;
  }
  
  .toolbar__item {
    margin-right: 1rem;
  }
  
  .upload-list {
    margin-top: 1rem;
  }
  
