{% extends 'main/base.html' %} {% load static %}

{% block content %}

<fon>
   <div class="container">
      <h1 class="ne">Новости</h1>
      {% for el in news %}
      <!--card with shadow-->
        <article class="card__ca shadow">
          <div>
            <img src="{{ el.img.url }}" alt="image">
          </div>
    
          <div>
            <h5><strong>{{ el.title}}</strong></h5>
            <p>{{ el.full_text|truncatechars:150 }}</p>
            <span>
              <i class="fas fa-calendar"></i>
               Date - <time>{{el.date}}</time>
             </span>
             <a href="{% url 'news_detail' el.id %}" class="news__block-link"><button class="button__new">Подробнее</button></a>
          </div>
        </article>
        {% endfor %}
      </div>
</fon>
  
{%endblock%}
