{% extends 'main/base.html' %} {% load static %}

{% block content %}

<fon>
   <div class="container">
      <h1 class="ne">Новости</h1>
      {% for el in news %}
      <!--card with shadow-->
        <article class="card__ca shadow">
          <div>
            <img src="{{ el.img.url }}" alt="image">
          </div>
    
          <div>
            <h5><strong>{{ el.title}}</strong></h5>
            <p>{{ el.full_text|truncatechars:150 }}</p>
            <span>
              <i class="fas fa-calendar"></i>
               Date - <time>{{el.date}}</time>
             </span>
             <div class="add"><a href="{% url 'news_detail' el.id %}" class="news__block-link"><button class="button__new">Подробнее</button></a></div>
          </div>
        </article>
        {% endfor %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              {% if news.has_previous %}
              <a class="page-link" href="?page=1" aria-label="Previous">
                <a href="?page={{ news.previous_page_number }}">previous</a>
                {% endif %}
                <span aria-hidden="true">&laquo;</span>
              </a> 
            </li>
            <li class="page-item"><a class="page-link" href="{{ page_obj.number }}">{{ page_obj.number }}</a></li>
              
            <li class="page-item"><a class="page-link" href="{{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            <li class="page-item">
              {% if news.has_next %}
              <a class="page-link" href="?page={{ news.next_page_number }}" aria-label="Next">
                {% endif %}
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
</fon>
  
{%endblock%}
